.tag {
  border: 2px solid #E0E1DD;
  border-radius: 10px;
  padding: .6%;
  margin-right: 1%;
  background-color: #778DA9;
  color: #1B263B;
}
.skill-info {
  border: 1px solid #778DA9;
  background-color: black;
  padding: 4%;
  text-align: center;
  margin-top: 3%;
  position: relative;
}
