<div class="row justify-content-around">
  <div class="col-lg-7">
    <img class="img-fluid" src="{{champion_splash_url}}" alt="Champion splash art">
    <div class="row justify-content-center">
      <button (click)="changeSkin(1)">Previous</button>
      <h6>Change Skin</h6>
      <button (click)="changeSkin(2)">Next</button>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="row justify-content-center">
      <h4 class="text-center">{{champion.name}}</h4>
    </div>
  </div>
</div>
