<div class="container-fluid mt-5">
  <div class="row d-flex flex-row flex-wrap justify-content-start align-items-start">
    <div class="col-lg-2 col-xl-1 col-md-2 col-sm-4 col-6" *ngFor="let champion of championsList">
      <div class="card">
        <a routerLink="champion-detail/{{champion.id}}">
            <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{champion.image.full}}" class="card-img-top" alt="champion image square">
        </a>
      </div>
    </div>
  </div>
</div>
